{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container">
        <h3>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</h3>
        <h3 style="color: #ff391e">{{ 'registration.check_spams'|trans({}, 'messages') }}</h3>
    </div>
{% endblock body %}

