{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% block fos_user_content %}
        <h2>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</h2>
        <h2 style="color: #ff391e">{{ 'registration.check_spams'|trans({}, 'messages') }}</h2>
    {% endblock fos_user_content %}
{% endblock body %}

