{% extends "base.html.twig" %}
{% block body %}
    {% block fos_user_content %}
        {% if app.request.query.has('security-check') %}
            <div class="alert alert-warning"><i class="fa fa-info-circle"></i>
                <b>{{ 'password_change.alert'|trans}}</b>
            </div>
        {% endif %}
        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock body %}

{% block additional_javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/js/password.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}