<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

</head>

<body>

<video autoplay controls id="streamer" width="500" height="300">
    <source src="http://192.168.1.35:8080/" type="video/mp4">
</video>

<script>
    // setInterval(function () {
    //     var elem = document.getElementById("streamer");
    //     if (elem.requestFullscreen) {
    //         elem.requestFullscreen();
    //     } else if (elem.mozRequestFullScreen) {
    //         elem.mozRequestFullScreen();
    //     } else if (elem.webkitRequestFullscreen) {
    //         elem.webkitRequestFullscreen();
    //     } else if (elem.msRequestFullscreen) {
    //         elem.msRequestFullscreen();
    //     }
    // }, 1000);
</script>

{#<embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" name="vlc"#}
{#       target="rtsp://cam:cam@izf.freeboxos.fr:35000/cam/realmonitor?channel=1&subtype=0"#}
{#       width="100%"#}
{#       height="100%"#}
{#/>#}

{#<iframe id="streamer" onload="window.pLaY()" src="https://rtsp.me/embed/5eia5hn2/" allowfullscreen style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>#}
{#<script>#}
{#    function myFunction(){#}
{#        document.getElementsByClassName("button_play_big")[0].click();#}
{#        //$(".button_play_big").click()#}
{#    }#}
{#    // setInterval(function () {#}
{#    //     document.getElementById('streamer').contentWindow.document.getElementsByClassName("button_play_big")[0].click();#}
{#    // },3000);#}
{#</script>#}

{#<video src="https://rtsp.me/embed/5eia5hn2/" autoplay="autoplay" width="500" height="300" style="border: 1px black solid"></video>#}
{#<video controls autoplay src="rtsp://cam:cam@izf.freeboxos.fr:35000/cam/realmonitor?channel=1&subtype=0"></video>#}

</body>
</html>
