<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" lang="{{ app.request.locale }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google" content="notranslate">
    <style>
        body {
            background: #151515;
            color: yellowgreen;
            text-align: center;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 2rem;
        }
    </style>
</head>
<body>
    <h2>{{ 'error503'|trans }}</h2>
</body>
</html>